@model HomeViewModel
<br>
<div class="p-5 mb-4 bg-light rounded-3 jumbotron">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-info">@ViewBag.Title</h1>
        <p class="col-md-8 fs-4">
            Here you can find a vast collection of albums published by some of the best singers in the world. Discover our album catalogue, one of your favourite albums could be just waiting for you!
        </p>
        <a class="btn btn-outline-info btn-lg" asp-action="Index" asp-controller="Albums">
            Go to album catalogue <i class="fa-solid fa-right-to-bracket"></i>
        </a>
    </div>
</div>
<section>
    <h2>Best rated</h2>
    @foreach(AlbumViewModel album in Model.BestRatingAlbums!)
    {
        <hr>
        <div class="row album my-3">
            <div class="col-md-1">
                <img src="@album.ImagePath" height="52" width="52" alt="@album.Title">
            </div>
            <div class="col-md-5">
                <h2>@album.Title</h2>
                <author>by @album.Author</author>
            </div>
            <div class="col-md-2 rating" title="@album.Rating">
                <rating value="@album.Rating"></rating>
            </div>
            <div class="col-md-2 price">
                <price current-price="@album.CurrentPrice" full-price="@album.FullPrice"></price>
            </div>
            <div class="col-md-2">
                <a class="btn btn-outline-info" asp-action="Detail" asp-controller="Albums" asp-route-id="@album.Id">
                    Album Details
                </a>
            </div>
        </div>
    }
    <hr>
</section>
<br>
<br>
<section>
    <h2>Recently added</h2>
    @foreach (AlbumViewModel album in Model.MostRecentAlbums!)
    {
        <hr>
        <div class="row album my-3">
            <div class="col-md-1">
                <img src="@album.ImagePath" height="52" width="52" alt="@album.Title">
            </div>
            <div class="col-md-5">
                <h2>@album.Title</h2>
                <author>by @album.Author</author>
            </div>
            <div class="col-md-2 rating" title="@album.Rating">
                <rating value="@album.Rating"></rating>
            </div>
            <div class="col-md-2 price">
                <price current-price="@album.CurrentPrice" full-price="@album.FullPrice"></price>
            </div>
            <div class="col-md-2">
                <a class="btn btn-outline-info" asp-action="Detail" asp-controller="Albums" asp-route-id="@album.Id">
                    Album Details
                </a>
            </div>
        </div>
    }
    <hr>
</section>