@page
@model AuthorPlace.Pages.Admin.UsersModel
<h1>@ViewData["Title"]</h1>
<form method="post">
    <div class="row">
        <div class="col-md-12" asp-validation-summary="All"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label class="display-label my-3" asp-for="Input!.Email"></label>
            <input type="text" class="form-control input" asp-for="Input!.Email" placeholder="Email">
        </div>
        <div class="col-md-4">
            <label class="display-label my-3" asp-for="Input!.Role"></label>
            <select class="form-select input" asp-items="@Html.GetEnumSelectList<Role>()" asp-for="Input!.Role"></select>
        </div>
        <div class="col-md-4">
            <label class="display-label my-3">Action</label>
            <div>
                <button type="submit" class="btn btn-outline-success" asp-page-handler="Assign" asp-route-inrole="@((int)Model.InRole)">Assign role</button>
                <button type="submit" class="btn btn-outline-danger" asp-page-handler="Revoke" asp-route-inrole="@((int)Model.InRole)">Revoke role</button>
            </div>
        </div>
    </div>
</form>
<ul class="nav nav-tabs input my-3">
    @foreach (SelectListItem item in Html.GetEnumSelectList<Role>())
    {
        string activeClass = item.Value == ((int)Model.InRole).ToString() ? "active" : string.Empty;
        <li class="nav-item">
            <a class="nav-link link-info link-offset-2 link-underline-opacity-0 link-underline-opacity-25-hover @activeClass" asp-route-inrole="@item.Value">@item.Text</a>
        </li>
    }
</ul>
@foreach (ApplicationUser user in Model.Users!)
{
    <hr />
    <div class="row my-3">
        <div class="col-md-6">@user.FullName</div>
        <div class="col-md-6">@user.Email</div>
    </div>
}
@if (Model.Users!.Count != 0)
{
    <hr />
}
else
{
    <br />
    <p class="text-center text-muted">This role is not assigned to any user</p>
    <br />
}
<partial name="_Validation" />