@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating my-3">
                <input asp-for="Input.FullName" class="form-control" />
                <label asp-for="Input.FullName"></label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="form-floating my-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating my-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating my-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <h4>Privacy</h4>
            <hr />
            <br />
            <h6>Required consent</h6>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Input.EcommerceConsent">
                <label class="form-check-label" asp-for="Input.EcommerceConsent">I consent to the processing of my personal data for e-commerce purposes (<a asp-page="/Privacy" asp-fragment="ecommerce">read information</a>).</label>
                <span asp-validation-for="Input.EcommerceConsent" class="text-danger"></span>
            </div>
            <br />
            <h6>Optional consent</h6>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="Input.NewsletterConsent">
                <label class="form-check-label" asp-for="Input.NewsletterConsent">I agree to subscribe to the newsletter (<a asp-page="/Privacy" asp-fragment="newsletter">read information</a>).</label>
                <span class="form-check-label" asp-validation-for="Input.NewsletterConsent" class="text-danger"></span>
            </div>
            <br />
            <hr />
            <p>By registering, you accept the <a asp-page="/Terms">terms of use</a>.</p>
            <recaptcha />
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-outline-info my-3">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a class="link-info link-offset-2 link-underline-opacity-0 link-underline-opacity-25-hover" href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-outline-info my-3" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
