@model AlbumDetailViewModel
@inject IAuthorizationService authorizationService
@{
    AuthorizationResult albumAuthorResult = await authorizationService.AuthorizeAsync(User, nameof(Policy.AlbumAuthor));
    bool canEdit = albumAuthorResult.Succeeded;
    AuthorizationResult albumSubscriberResult = await authorizationService.AuthorizeAsync(User, nameof(Policy.AlbumSubscriber));
    bool isSubscribed = albumSubscriberResult.Succeeded;
}
<section class="album-info">
    <div class="row">
        <div class="col-md-9">
            <h1>
                @Model.Title
                @if (isSubscribed)
                {
                    <a class="btn btn-outline-info btn-sm" asp-action="Receipt" asp-route-id="@Model.Id" download><i class="fa-solid fa-file-invoice"></i> Download receipt</a>
                }
                else if (canEdit)
                {
                    <a class="btn btn-outline-info btn-sm" asp-action="Edit" asp-route-id="@Model.Id"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                }
            </h1>
        </div>
        <div class="col-md-3 d-grid align-items-end">
            @if (isSubscribed)
            {
                <button type="button" class="btn btn-info btn-lg subscribe-album" disabled>You are subscribed</button>
            }
            else if (canEdit)
            {
                <button type="button" class="btn btn-info btn-lg subscribe-album" disabled>You are the author</button>
            }
            else
            {
                <a class="btn btn-info btn-lg subscribe-album" asp-action="Pay" asp-route-id="@Model.Id">Subscribe</a>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p class="paragraph-wrap" html-sanitize>@Model.Description</p>
        </div>
        <div class="col-md-3">
            <aside>
                <author>by @Model.Author</author>
                <div class="rating" title="@Model.Rating">
                    <rating value="@Model.Rating"></rating>
                </div>
                <br>
                <div class="price">
                    <price current-price="@Model.CurrentPrice" full-price="@Model.FullPrice"></price>
                </div>
                <img src="@Model.ImagePath" class="img-fluid album-image" alt="@Model.Title" asp-append-version="true">
                @if (!canEdit)
                {
                    <div class="d-grid">
                        <a class="btn btn-outline-info mt-3" asp-page="/Contact" asp-route-id="@Model.Id"><i class="fa-solid fa-envelope"></i> Ask the author a question</a>
                    </div>
                }
                @if (isSubscribed)
                {
                    <div class="d-grid">
                        <a asp-action="Vote" asp-route-id="@Model.Id" class="btn btn-outline-info mt-3" data-bs-toggle="modal" data-bs-target="#voteModal"><i class="fa-solid fa-star"></i> Vote</a>
                    </div>
                }
            </aside>
        </div>
    </div>
</section>
<section class="album-songs">
    <h2>
        Songs (@Model.Songs!.Count)
        @if (canEdit)
        {
            <a class="btn btn-outline-info btn-sm" asp-controller="Songs" asp-action="New" asp-route-id="@Model.Id"><i class="fa-solid fa-plus"></i> Create new</a>
        }
    </h2>
    @foreach (SongViewModel song in Model.Songs)
    {
        <hr>
        <div class="row">
            <div class="col-md-10">
                @if (isSubscribed || canEdit)
                {
                    <a asp-controller="Songs" asp-action="Detail" asp-route-id="@song.Id" class="link-info link-offset-2 link-underline-opacity-0 link-underline-opacity-25-hover">@song.Title</a>
                }
                else
                {
                    <span>@song.Title</span>
                }
            </div>
            <div class="col-md-1 song-duration justify-content-end">
                <i class="far fa-clock"></i>
                <time>@song.Duration.ToString("m'm 's's'")</time>
            </div>
            <div class="col-md-1">
                @if (canEdit)
                {
                    <a class="btn btn-outline-info btn-sm" asp-controller="Songs" asp-action="Edit" asp-route-id="@song.Id"><i class="fa-solid fa-pencil"></i></a>
                }
            </div>
        </div>
    }
    <hr>
    <div class="row album-duration pb-5">
        <div class="col-md-10">
            Total
        </div>
        <div class="col-md-2 justify-content-end">
            <i class="far fa-clock"></i>
            <time>@Model.TotalAlbumDuration.ToString("h'h 'm'm 's's'")</time>
        </div>
    </div>
</section>
<div class="modal fade" id="voteModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="voteModalLabel">Your vote</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body center">
                <iframe class="size" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>
<script>
    let voteModal = document.getElementById('voteModal');
    voteModal.addEventListener('show.bs.modal', function (event) {
        let iframe = voteModal.querySelector('iframe');
        iframe.src = event.relatedTarget.href;
    });
</script>