@model AlbumDetailViewModel
<section class="album-info">
    <div class="row">
        <div class="col-md-9">
            <h1>@Model.Title <a class="btn btn-outline-info btn-sm" asp-action="Edit" asp-route-id="@Model.Id"><i class="fa-solid fa-pen-to-square"></i> Edit</a></h1>
        </div>
        <div class="col-md-3 d-grid align-items-end">
            <a href="#" class="btn btn-info btn-lg subscribe-album">Subscribe</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p>@Html.Raw(Model.Description)</p>
        </div>
        <div class="col-md-3">
            <aside>
                <author>by @Model.Author</author>
                <div class="rating" title="@Model.Rating">
                    <rating value="@Model.Rating"></rating>
                </div>
                <br>
                <div class="price">
                    <price current-price="@Model.CurrentPrice" full-price="@Model.FullPrice"></price>
                </div>
                <img src="@Model.ImagePath" class="img-fluid album-image" alt="@Model.Title">
            </aside>
        </div>
    </div>
</section>
<section class="album-songs">
    <h2>Songs (@Model.Songs!.Count)</h2>
    @foreach (SongViewModel song in Model.Songs)
    {
        <hr>
        <div class="row">
            <div class="col-md-9">
                <a href="#" class="link-info link-offset-2 link-underline-opacity-0 link-underline-opacity-25-hover">@song.Title</a>
            </div>
            <div class="col-md-3 song-duration">
                <i class="far fa-clock"></i>
                <time>@song.Duration.ToString("m'm 's's'")</time>
            </div>
        </div>
    }
    <hr>
    <div class="row album-duration pb-5">
        <div class="col-md-9">
            Total
        </div>
        <div class="col-md-3">
            <i class="far fa-clock"></i>
            <time>@Model.TotalAlbumDuration.ToString("h'h 'm'm 's's'")</time>
        </div>
    </div>
</section>