@model AlbumUpdateInputModel
<section class="album-info">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="RowVersion" />
        <div class="row">
            <div class="col-md-9">
                <h1>@ViewBag.Title</h1>
            </div>
            <div class="col-md-3 d-flex align-items-center justify-content-center">
                <button type="submit" class="btn btn-outline-info mx-4"><i class="fa-solid fa-floppy-disk"></i> Save</button>
                <button type="button" class="btn btn-outline-danger mx-4" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="fa-solid fa-trash-can"></i> Remove</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" asp-validation-summary="All"></div>
        </div>
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-md-9">
                <div class="form-group my-2">
                    <label class="display-label" asp-for="Title"></label>
                    <input type="text" class="form-control form-control-lg input" asp-for="Title">
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="form-group mt-4">
                    <label class="display-label" asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control input" data-summernote rows="18"></textarea>
                    <span asp-validation-for="Description"></span>
                </div>
            </div>
            <div class="col-md-3">
                <aside>
                    <div class="form-group mb-3">
                        <label class="display-label" asp-for="Email"></label>
                        <input type="email" asp-for="Email" class="form-control input">
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group my-3">
                        <label class="display-label" asp-for="FullPrice"></label>
                        <div class="input-group">
                            <select asp-items="@Html.GetEnumSelectList<Currency>()" asp-for="FullPrice!.Currency" class="form-control input"></select>
                            <input type="number" step="0.01" asp-for="FullPrice!.Amount" class="form-control form-control-block input">
                            <span asp-validation-for="FullPrice"></span>
                        </div>
                    </div>
                    <div class="form-group my-3">
                        <label class="display-label" asp-for="CurrentPrice"></label>
                        <div class="input-group">
                            <select asp-items="@Html.GetEnumSelectList<Currency>()" asp-for="CurrentPrice!.Currency" class="form-control input"></select>
                            <input type="number" step="0.01" asp-for="CurrentPrice!.Amount" class="form-control form-control-block input">
                            <span asp-validation-for="CurrentPrice"></span>
                        </div>
                    </div>
                    <div class="form-group mt-4">
                        <label class="display-label" asp-for="ImagePath"></label>
                        <div class="preview-container">
                            <input type="hidden" asp-for="ImagePath">
                            <img id="preview" src="@Model.ImagePath" asp-append-version="true">
                        </div>
                        <div class="mt-3">
                            <input class="form-control input" type="file" asp-for="Image" onchange="updatePreview(this)">
                            <span asp-validation-for="Image"></span>
                            <p><small>The image must be square. If not, the empty spaces will be filled with the lightcyan color</small></p>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </form>
    <form method="post" asp-action="Remove" asp-route-id="@Model.Id">
        <div class="modal fade" id="deleteModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Confirm album remove</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete the album and all related data permanently?
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-outline-danger">Delete album</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<partial name="_Validation"></partial>
<partial name="_Summernote"></partial>
<script>
    function updatePreview(inputFile) {
        let reader = new FileReader();
        reader.onload = function (e) {
            $('#preview').attr('src', e.target.result);
        };
        reader.readAsDataURL(inputFile.files[0]);
    }
</script>